<%= render "shared/header"%>

<div class="contents">
  <div class="container row">
    <%= form_with model: @user, url: user_path(@user.id), local: true do |f| %>
      <h3 class="new-content">ユーザー編集</h3>

      <%= render "shared/error_messages", model: f.object %>

      <div class="field">
        <%= f.label :nickname, "ニックネーム" %><br>
        <%= f.text_field :nickname, class:"user-field", placeholder:"ニックネームを入力してください", autofocus: true, maxlength: "10" %>
      </div>
      <div class="field">
        <%= f.label :gender_id, "性別" %><br>
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select-box"}) %>
      </div>
      <div class="field">
        <%= f.label :email, "メールアドレス" %><br>
        <%= f.email_field :email, class:"user-field", placeholder:"PC・携帯どちらでも可" %>
      </div>
      
      <div class="btn-center">
        <%= f.submit "更新する", class:"user-btn btn" %>
      </div>

      <% if user_signed_in? && current_user.id == @user.id %>
        <div class="delete-btn-container">
          <p>
            ユーザーを削除
          </p>
          <%= link_to user_path(@user.id), method: :delete, data: {confirm: "削除しますか?"} do %>
            <div class="delete-btn btn delete-user">
              <span class="delete-btn-text btn-text">削除</span>
            </div>
          <% end %>
        </div>
      <% end %>
      

    <% end %>
  </div>
</div>