<%= render "shared/header"%>

<div class="main">
  <div class="genre-container">
    <ul class="genre-lists">
     <li>
      <%= link_to "ユーザーの投稿", user_path(params[:id]), class:"genre" %>
     </li>
     <li>
      <%= link_to "いいねした投稿", likes_user_path(params[:id]), class:"genre" %>
     </li>
     <li>
      <%= link_to "フォロー中のユーザー", follows_user_path(params[:id]), class:"genre", style:"border-bottom:2px black solid;" %>
     </li>
    </ul>
  </div>

  <div class="user-container">
    <%= render partial: "shared/user-info", locals: {user: @user} %>
  </div>

  <div class="page-name"><フォロー中のユーザー></div>
  <% @follows.each do |follow| %>
    <div class="user-info user-info-list">
      <%= link_to user_path(follow.id) do %>
        <h2 class="info-name">
          @<%= follow.nickname %>
        </h2>
      <% end %>
      <h2 class="info-gender">
        <%= follow.gender.name %>
      </h2>
    </div>
  <% end %>
  <%= paginate @follows %>

</div>
<%= link_to new_post_path do %>
  <div class="new-post-btn btn">
    <span class="new-post-btn-text btn-text">投稿</span>
  </div>
<% end %> 