<%= render "shared/header"%>

<div class="main">
  <div class="genre-container">
    <ul class="genre-lists">
     <li>
      <%= link_to "ユーザーの投稿", user_path(params[:id]), class:"genre" %>
     </li>
     <li>
      <%= link_to "いいねした投稿", likes_user_path(params[:id]), class:"genre" %>
     </li>
     <li>
      <%= link_to "フォロー中のユーザー", follows_user_path(params[:id]), class:"genre" %>
     </li>
    </ul>
  </div>

  <div class="user-container">
    <div class="user-info">
      <h2 class="info-name">@<%= @user.nickname %></h2>
      <h2 class="info-gender"><%= @user.gender.name %></h2>
    </div>

    <% unless current_user == @user %>
      <% if current_user.following?(@user) %>
        <%= form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }) do |f| %>
          <%= hidden_field_tag :follow_id, @user.id %>
          <%= f.submit 'アンフォロー', class: 'btn follow-btn' %>
        <% end %>
      <% else %>
        <%= form_for(current_user.relationships.build) do |f| %>
          <%= hidden_field_tag :follow_id, @user.id %>
          <%= f.submit 'フォロー', class: 'btn anfollow-btn' %>
        <% end %>
      <% end %>
    <% end %>

    <% if user_signed_in? && current_user.id == @user.id %>
      <div class="btn-container">
        <%= link_to edit_user_registration_path do %>
          <div class="edit-btn btn user-edit-btn">
            <span class="edit-btn-text btn-text">ユーザー編集</span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="post-contents">
    <ul class="post-lists">
      <% @user_posts.each do |post| %>
        <li class="list">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <% post.images.each do |image| %>
                <div class="swiper-slide">
                  <%= link_to post_path(post.id) do %>
                    <%= image_tag image, class:"post-image" %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="swiper-button-prev swiper-button-black"></div>
            <div class="swiper-button-next swiper-button-black"></div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="heart-btn" id="favorites_buttons_<%= post.id %>">
            <%= render partial: "shared/like", locals: {post: post} %>
          </div>
          <p class="post-text">
            <%= post.text %>
          </p>
          <ul class="favorite_lists hidden" id="favorites_user_<%= post.id %>">
            <%= render partial: "shared/favorite_user", locals: {post: post} %>
          </ul>
        </li>
      <% end %>
      <%= paginate @user_posts %>
    </ul>
  </div>
</div>
<%= link_to new_post_path do %>
  <div class="new-post-btn btn">
    <span class="new-post-btn-text btn-text">投稿</span>
  </div>
<% end %>
