<%= render "shared/header"%>

<div class="user-container">
  <div class="user-info">
    <h2 class="info-name">@<%= @user.nickname %></h2>
    <h2 class="info-gender"><%=  @user.gender.name %></h2>
  </div>
  <% if user_signed_in? && current_user.id == @user.id %>
    <div class="btn-container">
      <%= link_to edit_user_registration_path do %>
        <div class="edit-btn btn user-edit-btn">
          <span class="edit-btn-text btn-text">ユーザー編集</span>
        </div>
      <% end %>
    </div>
  <% end %>
  
</div>

<div class="main">
  <div class="post-contents">
    <ul class="post-lists">
      <% @user_posts.each do |post| %>
        <li class="list">
          <%= link_to post_path(post.id) do %>
            <% post.images.each do |image| %>
              <%= image_tag image, class:"post-image" %>
            <% end %>
          <% end %>
          <div class="heart-btn" id="favorites_buttons_<%= post.id %>">
            <%= render partial: "shared/like", locals: {post: post} %>
          </div>
          <p class="post-text">
            <%= post.text %>
          </p>
        </li>
      <% end %>
      <%= paginate @user_posts %>
    </ul>
  </div>
</div>
<%= link_to new_post_path do %>
  <div class="new-post-btn btn">
    <span class="new-post-btn-text btn-text">投稿</span>
  </div>
<% end %> 