<%= render "shared/header"%>

<div class="main">
  <div class="post-contents">
    <ul class="post-lists">
      <% @posts.each do |post| %>
        <li class="list">
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.image.variant(resize:'500x500') %>
          <% end %>
            <div class="post-info">
              <div class="heart-btn">
                <%= image_tag "heart.png", class:"heart-icon" %>
                <span class="heart-count">0</span>
              </div>
              <p class="post-text">
                <%= post.text %>
              </p>
            </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="new-post-btn">
  <%= link_to new_post_path do %>
    <span class="new-post-btn-text">投稿</span>
    <%= image_tag "new_post_icon.png", size: '80x60' %>
  <% end %>
</div>