<%= render "shared/header"%>

<div class="main">
  <div class="genre-container">
    <ul class="genre-lists">
     <li>
      <%= link_to "ALL", root_path, class:"genre", style:"border-bottom:2px black solid;" %>
     </li>
     <li>
      <%= link_to "MEN", search_posts_path(gender_id: 2), class:"genre" %>
     </li>
     <li>
      <%= link_to "WOMEN", search_posts_path(gender_id: 3), class:"genre" %>
     </li>
    </ul>
  </div>
  <div class="post-contents">
    <ul class="post-lists">
      <% @posts.each do |post| %>
        <li class="list">
          <span>
            <%= link_to user_path(post.user.id) do %>
              @<%= post.user.nickname %>
            <% end %>
          </span>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <% post.images.each do |image| %>
                <div class="swiper-slide">
                  <%= link_to post_path(post.id) do %>
                    <%= image_tag image, class:"post-image" %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="swiper-button-prev swiper-button-black"></div>
            <div class="swiper-button-next swiper-button-black"></div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="heart-btn" id="favorites_buttons_<%= post.id %>">
            <%= render partial: "shared/like", locals: {post: post} %>
          </div>
          <p class="post-text">
            <%= post.text %>
          </p>
          <ul class="favorite_lists hidden" id="favorites_user_<%= post.id %>">
            <%= render partial: "shared/favorite_user", locals: {post: post} %>
          </ul>
        </li>
      <% end %>
      <%= paginate @posts %>
    </ul>
  </div>
</div>
<%= link_to new_post_path do %>
  <div class="new-post-btn btn">
    <span class="new-post-btn-text btn-text">投稿</span>
  </div>
<% end %> 