<%= render "shared/header"%>

<div class="main">
  <div class="post-contents">
    <ul class="post-lists">
      <% @posts.each do |post| %>
        <li class="list">
          <span>@<%= post.user.nickname %></span>
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.image.variant(resize:'500x500'), class:"post-image" %>
          <% end %>
          <div class="heart-btn">
            <%= image_tag "heart.png", class:"heart-icon" %>
            <span class="heart-count">0</span>
          </div>
          <p class="post-text">
            <%= post.text %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%= link_to new_post_path do %>
  <div class="new-post-btn btn">
    <span class="new-post-btn-text btn-text">投稿</span>
  </div>
<% end %>