<%= render "shared/header"%>

<div class="contents">
  <div class="container row">
    <%= form_with model: @post, local: true do |f| %>
      <h3 class="new-content">新規投稿</h3>
      <div><%= f.file_field :image, class:"post-image" %></div>
      <div><%= f.text_area :text, class:"post-text", placeholder:"テキストを書く", rows:"10" %></div>
      <div><%= f.submit "投稿する", class:"post-btn" %></div>
    <% end %>
  </div>
</div>