<%= render "shared/header"%>

<div class="container row">
  <div class="post-show">
    <span>
      <%= link_to user_path(@post.user.id) do %>
        @<%= @post.user.nickname %>
      <% end %>
    </span>
    <%= link_to post_path(@post.id) do %>
      <%= image_tag @post.image, class:"post-image-box" %>
    <% end %>
    <div class="post-time">
      <%= l @post.created_at, format: :short %>
    </div>
    <div class="heart-btn">
      <%= image_tag "heart.png", class:"heart-icon" %>
      <span class="heart-count">0</span>
    </div>
    <p class="post-text">
      <%= @post.text %>
    </p>
    <% if user_signed_in? && current_user.id == @post.user.id %>
      <div class="btn-container">
        <%= link_to edit_post_path(@post.id) do %>
          <div class="edit-btn btn">
            <span class="edit-btn-text btn-text">編集</span>
          </div>
        <% end %>
        <%= link_to post_path(@post.id), method: :delete do %>
          <div class="delete-btn btn">
            <span class="delete-btn-text btn-text">削除</span>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="row">
      <% if @comments.present? %>
        <h3 class="comment-content">コメント一覧</h3>
        <div class="comments-container">
          <% @comments.each do |comment| %>
            <div class="comment-container">
              <span>@<%= link_to comment.user.nickname, user_path(comment.user.id) %>:</span>
              <%= comment.text %><br>
              <div class="comment-time">
                <%= l comment.created_at, format: :short %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <%= form_with(model: [@post, @comment], url: post_comments_path(@post.id), local: true) do |f| %>
        <%= render "shared/error_messages", model: f.object %>
        <%= f.text_area :text, class:"comment-new-text", placeholder:"コメントを書く" %>
        <div class="btn-center"><%= f.submit "コメントする", class:"post-btn btn" %></div>
      <% end %>
    </div>
  </div>
</div>